<!-- Temperature in Celsius -->
<div class="card"
    style="width: 40%; height: 40%; display: inline-block; margin: 15px; padding: 30px; text-align: center;">

    <div class="card-body">
        <h5 class="card-title">Temperature(℃)</h5>
        <h5 class="card-title" id="celsius">{{temperature_in_celsius | floatformat:2}}</h5>
        {{ div.celsius|safe }}
        <a href="{% url 'draw_celsius_chart' %}" class="btn btn-primary" name="celsius" value="celsius">View Live
            Data</a>
    </div>
</div>

<!-- Temperature in Farenheit -->
<div class="card"
    style="width: 40%; height: 40%; display: inline-block; margin: 10px; padding: 30px; text-align: center;">
    <div class="card-body">
        <h5 class="card-title">Temperature(℉)</h5>
        <h5 class="card-title" id="farenheit">{{temperature_in_farenheit | floatformat:2}}</h5>
        {{ div.farenheit|safe }}
        <a href="{% url 'draw_farenheit_chart' %}" class="btn btn-primary">View Live Data</a>
    </div>
</div>


<!-- Humidity -->
<div class="card"
    style="width: 40%; height: 40%; display: inline-block; margin: 10px; padding: 30px; text-align: center;">
    <div class="card-body">
        <h5 class="card-title">Humidity</h5>
        <h5 class="card-title" id="humidity">{{humidity | floatformat:2}}</h5>
        {{ div.humidity|safe }}
        <a href="{% url 'draw_humidity_chart' %}" class="btn btn-primary">View Live Data</a>
    </div>
</div>

<!-- Heat Index -->
<div class="card"
    style="width: 40%; height: 40%; display: inline-block; margin: 10px; padding: 30px; text-align: center;">

    <div class="card-body">
        <h5 class="card-title">Heat Index</h5>
        <h5 class="card-title" id="heatindex">{{heatindex | floatformat:2}}</h5>
        {{ div.heatindex|safe }}
        <a href="{% url 'draw_heatindex_chart' %}" class="btn btn-primary">View Live Data</a>
    </div>
</div>

{{ script|safe }}