<div class="weather-data" style="width:100%;" hx-get="{% url 'update-homepage'%}" hx-swap="outerHTML" hx-trigger="every 10s">
    <!-- Temperature in Celsius -->
    <div class="card" style="width: 20rem; height: 20rem; display: inline-block; margin: 15px; padding: 30px; text-align: center;">
        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" align= center fill="currentColor"  class="bi bi-thermometer-high" viewBox="0 0 16 16">
            <path d="M9.5 12.5a1.5 1.5 0 1 1-2-1.415V2.5a.5.5 0 0 1 1 0v8.585a1.5 1.5 0 0 1 1 1.415z"/>
            <path d="M5.5 2.5a2.5 2.5 0 0 1 5 0v7.55a3.5 3.5 0 1 1-5 0V2.5zM8 1a1.5 1.5 0 0 0-1.5 1.5v7.987l-.167.15a2.5 2.5 0 1 0 3.333 0l-.166-.15V2.5A1.5 1.5 0 0 0 8 1z"/>
        </svg>
        <div class="card-body">
            <h5 class="card-title">Temperature(℃)</h5>
            <h5 class="card-title" id="celsius">{{temperature_in_celsius | floatformat:2}}</h5>
            <a href="{% url 'draw_celsius_chart' %}" class="btn btn-primary" value="celsius">View Live Data</a>
        </div>
    </div>

    <!-- Temperature in Farenheit -->
    <div class="card" style="width: 20rem; height: 20rem; display: inline-block; margin: 10px; padding: 30px; text-align: center;">
        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" align= center fill="currentcolor" class="bi bi-thermometer-high" viewBox="0 0 16 16">
            <path d="M9.5 12.5a1.5 1.5 0 1 1-2-1.415V2.5a.5.5 0 0 1 1 0v8.585a1.5 1.5 0 0 1 1 1.415z"/>
            <path d="M5.5 2.5a2.5 2.5 0 0 1 5 0v7.55a3.5 3.5 0 1 1-5 0V2.5zM8 1a1.5 1.5 0 0 0-1.5 1.5v7.987l-.167.15a2.5 2.5 0 1 0 3.333 0l-.166-.15V2.5A1.5 1.5 0 0 0 8 1z"/>
        </svg>
        <div class="card-body">
            <h5 class="card-title">Temperature(℉)</h5>
            <h5 class="card-title" id="farenheit">{{temperature_in_farenheit | floatformat:2}}</h5>
            <a href="{% url 'draw_farenheit_chart' %}" class="btn btn-primary">View Live Data</a>
        </div>
    </div>
    

    <!-- Humidity -->
    <div class="card" style="width: 20rem; height: 20rem; display: inline-block; margin: 10px; padding: 30px; text-align: center;">
        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-moisture" viewBox="0 0 16 16">
            <path d="M13.5 0a.5.5 0 0 0 0 1H15v2.75h-.5a.5.5 0 0 0 0 1h.5V7.5h-1.5a.5.5 0 0 0 0 1H15v2.75h-.5a.5.5 0 0 0 0 1h.5V15h-1.5a.5.5 0 0 0 0 1h2a.5.5 0 0 0 .5-.5V.5a.5.5 0 0 0-.5-.5h-2zM7 1.5l.364-.343a.5.5 0 0 0-.728 0l-.002.002-.006.007-.022.023-.08.088a28.458 28.458 0 0 0-1.274 1.517c-.769.983-1.714 2.325-2.385 3.727C2.368 7.564 2 8.682 2 9.733 2 12.614 4.212 15 7 15s5-2.386 5-5.267c0-1.05-.368-2.169-.867-3.212-.671-1.402-1.616-2.744-2.385-3.727a28.458 28.458 0 0 0-1.354-1.605l-.022-.023-.006-.007-.002-.001L7 1.5zm0 0-.364-.343L7 1.5zm-.016.766L7 2.247l.016.019c.24.274.572.667.944 1.144.611.781 1.32 1.776 1.901 2.827H4.14c.58-1.051 1.29-2.046 1.9-2.827.373-.477.706-.87.945-1.144zM3 9.733c0-.755.244-1.612.638-2.496h6.724c.395.884.638 1.741.638 2.496C11 12.117 9.182 14 7 14s-4-1.883-4-4.267z"/>
          </svg>
        <div class="card-body">
            <h5 class="card-title">Humidity</h5>
            <h5 class="card-title" id="humidity">{{humidity | floatformat:2}}</h5>
            <a href="{% url 'draw_humidity_chart' %}" class="btn btn-primary">View Live Data</a>
        </div>
    </div>

    <!-- Heat Index -->
    <div class="card" style="width: 20rem; height: 20rem; display: inline-block; margin: 10px; padding: 30px; text-align: center;">
        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" align= center fill="currentColor"  class="bi bi-thermometer-high" viewBox="0 0 16 16">
            <path d="M9.5 12.5a1.5 1.5 0 1 1-2-1.415V2.5a.5.5 0 0 1 1 0v8.585a1.5 1.5 0 0 1 1 1.415z"/>
            <path d="M5.5 2.5a2.5 2.5 0 0 1 5 0v7.55a3.5 3.5 0 1 1-5 0V2.5zM8 1a1.5 1.5 0 0 0-1.5 1.5v7.987l-.167.15a2.5 2.5 0 1 0 3.333 0l-.166-.15V2.5A1.5 1.5 0 0 0 8 1z"/>
        </svg>
        <div class="card-body">
            <h5 class="card-title">Heat Index</h5>
            <h5 class="card-title" id="heatindex">{{heatindex | floatformat:2}}</h5>
            <a href="{% url 'draw_heatindex_chart' %}" class="btn btn-primary">View Live Data</a>
        </div>
    </div>
</div>